// Black white
$black: #000000;
$white: #ffffff;

//grey
$bg-grey:#AAABB8;
$disable-grey: rgb(175, 175, 175);

//blue
// $dark-blue: #29648A;

// $container-blue: #557a95;
$lighter-blue: #2E9CCA;
$light-blue: rgb(214, 223, 226);
$select-blue: rgb(124, 150, 175);

//purple
$dark-purple: #25274D;
$purple: #464866;
$light-purple: #9495b4;

// new - -

//grey
$grey: rgb(109, 109, 109);

//yellow
$light-yellow: rgb(255, 246, 227);
$yellow: rgb(255, 201, 93);
$disabled-yellow: rgb(218, 210, 193);
$dark-yellow: #f1a104;

//blue
$dark-blue: #29648A;
$darker-blue: #2c3e50;
$darkest-blue: #192938;

//red
$dark-red: rgb(121, 26, 26);
$soft-red: rgba(211, 168, 176, 0.9);