// Black white
$black: #000000;
$white: #ffffff;

//grey
$bg-grey:#AAABB8;

//blue
$container-blue: #29648A;
// $container-blue: #557a95;
$lighter-blue: #2E9CCA;

//purple
$dark-purple: #25274D;
$purple: #464866;
$light-purple: #9495b4;