
@import '../scss/button.scss';
@import '../scss/search-results.scss';
@import '../scss/general.scss';
@import '../scss/colors.scss';
@import '../scss/switch-button.scss';


//relay-calculator-app
#app {

    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    // font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
