/* times-overview */
.times-overview .results {
    flex: 1;
  }
  
  .times-overview span.row {
    border-left: none;
  }
  
  .times-overview span.row > div:not(:first-child) {
    text-align: center;
  }
  
  .times-overview span.row .name {
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .times-overview span.row div {
    width: 100%;
    flex: 1 1 0;
  }
  
  .times-overview span.row input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    text-align: center;
  }
  /* - - -  */
  
